// header height var
$headerH: 80px;
$bodyH: 400px;

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0% 15%;
  padding: 10px 0px;

  .pg-header {
    background-color: #f6e0b5;
    height: $headerH;

    //padding: calc($headerH - 70px) 0px;
  }

  .pg-body {
    background-color: #d9e3da;
    height: $bodyH;
  }
}
